<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLyCuaHangBanTraSuaTomTomEntities3" connectionString="metadata=res://*/QLTraSuaTomTom.csdl|res://*/QLTraSuaTomTom.ssdl|res://*/QLTraSuaTomTom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUNGNQ;initial catalog=QuanLyCuaHangBanTraSuaTomTom;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>